Importing libraries and Load data

In [61]:
import pandas as pd 
import numpy as np 

df = pd.read_csv("Telco_Customer_Churn.csv")

Checking data

In [62]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [64]:
df.describe()

       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7043.000000     7043.000000
mean        0.162147    32.371149       64.761692
std         0.368612    24.559481       30.090047
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000

In [65]:
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [66]:
df.duplicated().sum()

np.int64(0)

**Data Cleaning**

In [ ]:
#Removing  Unnecessary Column

In [67]:
df.drop('customerID' ,axis=1 ,inplace =True)

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   object
 1   SeniorCitizen     7043 non-null   int64
 2   Partner           7043 non-null   object
 3   Dependents        7043 non-null   object
 4   tenure            7043 non-null   int64
 5   PhoneService      7043 non-null   object
 6   MultipleLines     7043 non-null   object
 7   InternetService   7043 non-null   object
 8   OnlineSecurity    7043 non-null   object
 9   OnlineBackup      7043 non-null   object
 10  DeviceProtection  7043 non-null   object
 11  TechSupport       7043 non-null   object
 12  StreamingTV       7043 non-null   object
 13  StreamingMovies   7043 non-null   object
 14  Contract          7043 non-null   object
 15  PaperlessBilling  7043 non-null   object
 16  PaymentMethod     7043 non-null   object
 17  MonthlyCharges    7043 non-null   float64
 18  TotalCharges      7043 non-null   object
 19  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(17)
memory usage: 1.1+ MB

Fixing 'TotalCharges' datatype  --- its is given as object but it should be float64

In [70]:
df['TotalCharges'] = df['TotalCharges'].replace(" ", np.nan)

In [71]:
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'])

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   object
 1   SeniorCitizen     7043 non-null   int64
 2   Partner           7043 non-null   object
 3   Dependents        7043 non-null   object
 4   tenure            7043 non-null   int64
 5   PhoneService      7043 non-null   object
 6   MultipleLines     7043 non-null   object
 7   InternetService   7043 non-null   object
 8   OnlineSecurity    7043 non-null   object
 9   OnlineBackup      7043 non-null   object
 10  DeviceProtection  7043 non-null   object
 11  TechSupport       7043 non-null   object
 12  StreamingTV       7043 non-null   object
 13  StreamingMovies   7043 non-null   object
 14  Contract          7043 non-null   object
 15  PaperlessBilling  7043 non-null   object
 16  PaymentMethod     7043 non-null   object
 17  MonthlyCharges    7043 non-null   float64
 18  TotalCharges      7032 non-null   float64
 19  Churn             7043 non-null   object
dtypes: float64(2), int64(2), object(16)
memory usage: 1.1+ MB

In [73]:
df['TotalCharges'].isna().sum()

np.int64(11)

In [74]:
df = df.dropna(subset=['TotalCharges'])

In [75]:
df['TotalCharges'].isna().sum()

np.int64(0)

In [76]:
df.isna().sum()

gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

**We are replacing 'No Internet services' and 'No phone services' with 'NO'**  ....            
Because for business  both mean service not used             
From modeling/visualization perspective, both behave the same.

In [77]:
df.replace('No internet service' , 'No' ,inplace= True)
df.replace('No phone service' ,'No', inplace =True)
df.head(5)

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,Male,0,No,No,45,No,No,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

**Convert Yes / No → 0 / 1---> Binary Encoding**              
WE encode only true binary variables used for calculations while keeping categorical service features as text to preserve interpretability and improve dashboard visualization clarity. 

We convert to 0/1 ONLY when the column is truly binary and represents a single decision or state.
Meaning: only two meaningful outcomes exist.

In [78]:
binary_cols = [
    'Partner','Dependents','PhoneService',
    'PaperlessBilling','Churn'
]

for col in binary_cols:
    df[col] = df[col].map({'Yes':1,'No':0})

In [79]:
df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,1,0,1,0,No,DSL,No,Yes,No,No,No,No,Month-to-month,1,Electronic check,29.85,29.85,0
1,Male,0,0,0,34,1,No,DSL,Yes,No,Yes,No,No,No,One year,0,Mailed check,56.95,1889.50,0
2,Male,0,0,0,2,1,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,1,Mailed check,53.85,108.15,1
3,Male,0,0,0,45,0,No,DSL,Yes,No,Yes,Yes,No,No,One year,0,Bank transfer (automatic),42.30,1840.75,0
4,Female,0,0,0,2,1,No,Fiber optic,No,No,No,No,No,No,Month-to-month,1,Electronic check,70.70,151.65,1

Convert SeniorCitizen Data type   from Int64 to category

In [80]:
df['SeniorCitizen'] = df['SeniorCitizen'].astype('category')

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7032 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7032 non-null   object
 1   SeniorCitizen     7032 non-null   category
 2   Partner           7032 non-null   int64
 3   Dependents        7032 non-null   int64
 4   tenure            7032 non-null   int64
 5   PhoneService      7032 non-null   int64
 6   MultipleLines     7032 non-null   object
 7   InternetService   7032 non-null   object
 8   OnlineSecurity    7032 non-null   object
 9   OnlineBackup      7032 non-null   object
 10  DeviceProtection  7032 non-null   object
 11  TechSupport       7032 non-null   object
 12  StreamingTV       7032 non-null   object
 13  StreamingMovies   7032 non-null   object
 14  Contract          7032 non-null   object
 15  PaperlessBilling  7032 non-null   int64
 16  PaymentMethod     7032 non-null   object
 17  MonthlyCharges    7032 non-null   float64
 18  TotalCharges      7032 non-null   float64
 19  Churn             7032 non-null   int64
dtypes: category(1), float64(2), int64(6), object(11)
memory usage: 1.1+ MB

**FEATURE ENGINEERING**  (Making New Columns)

Tenure Group

In [82]:
df['TenureGroup'] = pd.cut(
    df['tenure'],
    bins=[0,12,24,48,72],
    labels=['0-1yr','1-2yr','2-4yr','4-6yr'],
    include_lowest=True
)

In [83]:
df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,...,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,TenureGroup
0,Female,0,1,0,1,0,No,DSL,No,Yes,...,No,No,No,Month-to-month,1,Electronic check,29.85,29.85,0,0-1yr
1,Male,0,0,0,34,1,No,DSL,Yes,No,...,No,No,No,One year,0,Mailed check,56.95,1889.50,0,2-4yr
2,Male,0,0,0,2,1,No,DSL,Yes,Yes,...,No,No,No,Month-to-month,1,Mailed check,53.85,108.15,1,0-1yr
3,Male,0,0,0,45,0,No,DSL,Yes,No,...,Yes,No,No,One year,0,Bank transfer (automatic),42.30,1840.75,0,2-4yr
4,Female,0,0,0,2,1,No,Fiber optic,No,No,...,No,No,No,Month-to-month,1,Electronic check,70.70,151.65,1,0-1yr

Contract Encoding          
Contract types represent customer commitment level

In [84]:
df['ContractEncoded'] = df['Contract'].map({
    'Month-to-month':0,
    'One year':1,
    'Two year':2
})

Total Services Count         
How many telecom services each customer is using.     
Instead of looking at 6 separate columns, we create one summary number.

In [85]:
services = [
'OnlineSecurity','OnlineBackup','DeviceProtection',
'TechSupport','StreamingTV','StreamingMovies'
]

df['TotalServices'] = df[services].apply(
    lambda x: (x=='Yes').sum(), axis=1)

Average Monthly Spend    
On average, how much money a customer spends per month.

In [86]:
df['AvgMonthlySpend'] = df['TotalCharges'] / df['tenure']
df['AvgMonthlySpend'] = df['AvgMonthlySpend'].fillna(df['MonthlyCharges'])

In [87]:
df.head(50)

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,...,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,TenureGroup,ContractEncoded,TotalServices,AvgMonthlySpend
0,Female,0,1,0,1,0,No,DSL,No,Yes,...,Month-to-month,1,Electronic check,29.85,29.85,0,0-1yr,0,1,29.850000
1,Male,0,0,0,34,1,No,DSL,Yes,No,...,One year,0,Mailed check,56.95,1889.50,0,2-4yr,1,2,55.573529
2,Male,0,0,0,2,1,No,DSL,Yes,Yes,...,Month-to-month,1,Mailed check,53.85,108.15,1,0-1yr,0,2,54.075000
3,Male,0,0,0,45,0,No,DSL,Yes,No,...,One year,0,Bank transfer (automatic),42.30,1840.75,0,2-4yr,1,3,40.905556
4,Female,0,0,0,2,1,No,Fiber optic,No,No,...,Month-to-month,1,Electronic check,70.70,151.65,1,0-1yr,0,0,75.825000
5,Female,0,0,0,8,1,Yes,Fiber optic,No,No,...,Month-to-month,1,Electronic check,99.65,820.50,1,0-1yr,0,3,102.562500
6,Male,0,0,1,22,1,Yes,Fiber optic,No,Yes,...,Month-to-month,1,Credit card (automatic),89.10,1949.40,0,1-2yr,0,2,88.609091
7,Female,0,0,0,10,0,No,DSL,Yes,No,...,Month-to-month,0,Mailed check,29.75,301.90,0,0-1yr,0,1,30.190000
8,Female,0,1,0,28,1,Yes,Fiber optic,No,No,...,Month-to-month,1,Electronic check,104.80,3046.05,1,2-4yr,0,4,108.787500
9,Male,0,0,1,62,1,No,DSL,Yes,Yes,...,One year,0,Bank transfer (automatic),56.15,3487.95,0,4-6yr,1,2,56.257258
10,Male,0,1,1,13,1,No,DSL,Yes,No,...,Month-to-month,1,Mailed check,49.95,587.45,0,1-2yr,0,1,45.188462
11,Male,0,0,0,16,1,No,No,No,No,...,Two year,0,Credit card (automatic),18.95,326.80,0,1-2yr,2,0,20.425000
12,Male,0,1,0,58,1,Yes,Fiber optic,No,No,...,One year,0,Credit card (automatic),100.35,5681.10,0,4-6yr,1,3,97.950000
13,Male,0,0,0,49,1,Yes,Fiber optic,No,Yes,...,Month-to-month,1,Bank transfer (automatic),103.70,5036.30,1,4-6yr,0,4,102.781633
14,Male,0,0,0,25,1,No,Fiber optic,Yes,No,...,Month-to-month,1,Electronic check,105.50,2686.05,0,2-4yr,0,5,107.442000
15,Female,0,1,1,69,1,Yes,Fiber optic,Yes,Yes,...,Two year,0,Credit card (automatic),113.25,7895.15,0,4-6yr,2,6,114.422464
16,Female,0,0,0,52,1,No,No,No,No,...,One year,0,Mailed check,20.65,1022.95,0,4-6yr,1,0,19.672115
17,Male,0,0,1,71,1,Yes,Fiber optic,Yes,No,...,Two year,0,Bank transfer (automatic),106.70,7382.25,0,4-6yr,2,4,103.975352
18,Female,0,1,1,10,1,No,DSL,No,No,...,Month-to-month,0,Credit card (automatic),55.20,528.35,1,0-1yr,0,2,52.835000
19,Female,0,0,0,21,1,No,Fiber optic,No,Yes,...,Month-to-month,1,Electronic check,90.05,1862.90,0,1-2yr,0,3,88.709524
20,Male,1,0,0,1,0,No,DSL,No,No,...,Month-to-month,1,Electronic check,39.65,39.65,1,0-1yr,0,2,39.650000
21,Male,0,1,0,12,1,No,No,No,No,...,One year,0,Bank transfer (automatic),19.80,202.25,0,0-1yr,1,0,16.854167
22,Male,0,0,0,1,1,No,No,No,No,...,Month-to-month,0,Mailed check,20.15,20.15,1,0-1yr,0,0,20.150000
23,Female,0,1,0,58,1,Yes,DSL,No,Yes,...,Two year,1,Credit card (automatic),59.90,3505.10,0,4-6yr,2,2,60.432759
24,Male,0,1,1,49,1,No,DSL,Yes,Yes,...,Month-to-month,0,Credit card (automatic),59.60,2970.30,0,4-6yr,0,3,60.618367
25,Female,0,0,0,30,1,No,DSL,Yes,Yes,...,Month-to-month,1,Bank transfer (automatic),55.30,1530.60,0,2-4yr,0,2,51.020000
26,Male,0,1,1,47,1,Yes,Fiber optic,No,Yes,...,Month-to-month,1,Electronic check,99.35,4749.15,1,2-4yr,0,3,101.045745
27,Male,0,1,1,1,0,No,DSL,No,Yes,...,Month-to-month,0,Electronic check,30.20,30.20,1,0-1yr,0,1,30.200000
28,Male,0,1,0,72,1,Yes,DSL,Yes,Yes,...,Two year,1,Credit card (automatic),90.25,6369.45,0,4-6yr,2,6,88.464583
29,Female,0,0,1,17,1,No,DSL,No,No,...,Month-to-month,1,Mailed check,64.70,1093.10,1,1-2yr,0,2,64.300000
30,Female,1,1,0,71,1,Yes,Fiber optic,Yes,Yes,...,Two year,1,Credit card (automatic),96.35,6766.95,0,4-6yr,2,4,95.309155
31,Male,1,1,0,2,1,No,Fiber optic,No,No,...,Month-to-month,1,Credit card (automatic),95.50,181.65,0,0-1yr,0,3,90.825000
32,Female,0,1,1,27,1,No,DSL,Yes,Yes,...,One year,0,Mailed check,66.15,1874.45,0,2-4yr,1,4,69.424074
33,Male,0,0,0,1,1,No,No,No,No,...,Month-to-month,0,Bank transfer (automatic),20.20,20.20,0,0-1yr,0,0,20.200000
34,Male,1,0,0,1,1,No,DSL,No,No,...,Month-to-month,0,Bank transfer (automatic),45.25,45.25,0,0-1yr,0,0,45.250000
35,Female,0,1,1,72,1,Yes,Fiber optic,Yes,Yes,...,Two year,0,Bank transfer (automatic),99.90,7251.70,0,4-6yr,2,4,100.718056
36,Male,0,0,0,5,1,No,Fiber optic,No,No,...,Month-to-month,1,Electronic check,69.70,316.90,1,0-1yr,0,0,63.380000
37,Female,0,0,0,46,1,No,Fiber optic,No,No,...,Month-to-month,1,Credit card (automatic),74.80,3548.30,0,2-4yr,0,1,77.136957
38,Male,0,0,0,34,1,Yes,Fiber optic,No,Yes,...,Month-to-month,1,Electronic check,106.35,3549.25,1,2-4yr,0,4,104.389706
39,Female,0,0,0,11,1,Yes,Fiber optic,No,No,...,Month-to-month,1,Bank transfer (automatic),97.85,1105.40,1,0-1yr,0,3,100.490909
40,Male,0,1,1,10,1,No,DSL,No,Yes,...,One year,0,Mailed check,49.55,475.70,0,0-1yr,1,1,47.570000
41,Female,0,1,1,70,1,Yes,DSL,Yes,Yes,...,Two year,1,Credit card (automatic),69.20,4872.35,0,4-6yr,2,3,69.605000
42,Female,0,1,1,17,1,No,No,No,No,...,One year,0,Mailed check,20.75,418.25,0,1-2yr,1,0,24.602941
43,Female,0,0,0,63,1,Yes,DSL,Yes,Yes,...,Two year,1,Credit card (automatic),79.85,4861.45,0,4-6yr,2,5,77.165873
44,Female,0,1,0,13,1,Yes,DSL,Yes,Yes,...,Month-to-month,1,Electronic check,76.20,981.45,0,1-2yr,0,4,75.496154
45,Female,0,0,0,49,1,Yes,Fiber optic,No,No,...,Month-to-month,1,Electronic check,84.50,3906.70,0,4-6yr,0,1,79.728571
46,Male,0,0,0,2,1,No,DSL,No,Yes,...,Month-to-month,0,Mailed check,49.25,97.00,0,0-1yr,0,1,48.500000
47,Female,0,0,0,2,1,No,Fiber optic,No,No,...,Month-to-month,1,Electronic check,80.65,144.15,1,0-1yr,0,1,72.075000
48,Male,0,0,0,52,1,Yes,DSL,Yes,No,...,Two year,1,Credit card (automatic),79.75,4217.80,0,4-6yr,2,4,81.111538
49,Female,0,1,1,69,1,Yes,DSL,Yes,No,...,Two year,1,Credit card (automatic),64.15,4254.10,0,4-6yr,2,3,61.653623

In [88]:
df.info()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
Index: 7032 entries, 0 to 7042
Data columns (total 24 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7032 non-null   object
 1   SeniorCitizen     7032 non-null   category
 2   Partner           7032 non-null   int64
 3   Dependents        7032 non-null   int64
 4   tenure            7032 non-null   int64
 5   PhoneService      7032 non-null   int64
 6   MultipleLines     7032 non-null   object
 7   InternetService   7032 non-null   object
 8   OnlineSecurity    7032 non-null   object
 9   OnlineBackup      7032 non-null   object
 10  DeviceProtection  7032 non-null   object
 11  TechSupport       7032 non-null   object
 12  StreamingTV       7032 non-null   object
 13  StreamingMovies   7032 non-null   object
 14  Contract          7032 non-null   object
 15  PaperlessBilling  7032 non-null   int64
 16  PaymentMethod     7032 non-null   object
 17  MonthlyCharges    7032 non-null   float64
 18  TotalCharges      7032 non-null   float64
 19  Churn             7032 non-null   int64
 20  TenureGroup       7032 non-null   category
 21  ContractEncoded   7032 non-null   int64
 22  TotalServices     7032 non-null   int64
 23  AvgMonthlySpend   7032 non-null   float64
dtypes: category(2), float64(3), int64(8), object(11)
memory usage: 1.2+ MB

gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
TenureGroup         0
ContractEncoded     0
TotalServices       0
AvgMonthlySpend     0
dtype: int64

**Saving file**

In [92]:
df.to_csv(
    "Telco_Customer_Churn_Cleaned.csv",
    index=False,
    encoding="utf-8-sig"
)